			.container{
            width:1080px;
			border:1px solid #ccc;
			display: block;
			margin: 15px auto;
			background:url("../image/back.jpg");
			background-repeat: no-repeat;
			background-size:100% 100%;
			}
			.logo{
				width:200px;				
				float: left;
			}
			.head1{
				width:50%;
				float:left;
				display: inline-block;
			}
			.head2{
			
			    width: 50%;
				float: right;
                text-align: right;
			}
			header{
			    width: 96%;
				margin: 0px;
				display: table;
				padding: 2%;

			}
			.banner{
				clear:both;
				width:100%;
				
			}
			.d1{
				clear:both;
				width:50%;
				padding: 0px 20px;
				display:inline-block;
				float:left;
			}
			
			.d2{
				
				margin-top:80px;
				width:40%;
				float:right;
				display:inline-block;
				background-color:blue:
			}
			.foot{
				clear:both;
				width:100%;
				text-align:center;
			}
			
			
			
			
			
  ul{
	list-style-type:none;
	position:relative;
	margin:0px;
	padding:0px;
	}
	
	li{
		background: #cc3300;
		display: inline-block;
		padding: 11px 36px;
	}
	ul li ul{
		display:none;
		position:absolute;
		top: 41px;
		color:white;
		z-index:999;
	}
	ul li ul li{
		display:block;
		}
	
	ul li:hover ul{
			display:block;
			}
	nav{
		
		padding: 20px 20px;
		width:80%;
		height:50px;
		background-color:no;
		color:black;
		}
		
	ul li ul li ul {
			display:none !important;
		    position:absolute;
			top: 2px;
			left:137px;
			color:black;
	
			}
	ul li ul li ul li{
			display:block;
			}
	ul li ul li:hover ul{
			display:block !important;
			}
			
			
	drop{
		background-color:pink;
		color:blue;
		}
		
		
		
		
		
		
		
		
		 /* jssor slider bullet navigator skin 21 css */
            /*
            .jssorb21 div           (normal)
            .jssorb21 div:hover     (normal mouseover)
            .jssorb21 .av           (active)
            .jssorb21 .av:hover     (active mouseover)
            .jssorb21 .dn           (mousedown)
            */
            .jssorb21 {
                position: absolute;
            }
            .jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
                position: absolute;
                /* size of bullet elment */
                width: 19px;
                height: 19px;
                text-align: center;
                line-height: 19px;
                color: white;
                font-size: 12px;
                background: url(img/b21.png) no-repeat;
                overflow: hidden;
                cursor: pointer;
            }
            .jssorb21 div { background-position: -5px -5px; }
            .jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
            .jssorb21 .av { background-position: -65px -5px; }
            .jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }
			
			
			
			
			
			
			 /* jssor slider arrow navigator skin 21 css */
            /*
            .jssora21l                  (normal)
            .jssora21r                  (normal)
            .jssora21l:hover            (normal mouseover)
            .jssora21r:hover            (normal mouseover)
            .jssora21l.jssora21ldn      (mousedown)
            .jssora21r.jssora21rdn      (mousedown)
            */
            .jssora21l, .jssora21r {
                display: block;
                position: absolute;
                /* size of arrow element */
                width: 55px;
                height: 55px;
                cursor: pointer;
                background: url(../img/a21.png) center center no-repeat;
                overflow: hidden;
            }
            .jssora21l { background-position: -3px -33px; }
            .jssora21r { background-position: -63px -33px; }
            .jssora21l:hover { background-position: -123px -33px; }
            .jssora21r:hover { background-position: -183px -33px; }
            .jssora21l.jssora21ldn { background-position: -243px -33px; }
            .jssora21r.jssora21rdn { background-position: -303px -33px; }