header{height: 150px;
		background-color: red;
		color: white}
		h1 {
          color: orange;
          text-align: center;
         
		 }

		
		main{
		background-color: green;
		color: white
		}
		
		footer{height: 65px;
		background-color: blue;
		color: white;
		clear:both;
		}
		
		
		.part1{
		width:40%;
		height:400px;
		background-color:pink;
		float:left;
		display:inline-block;
		
		
		}
		.part2{
		width:60%;
		height:400px;
		color:black;
		background-color:black;
		display:inline-block;
		
		
		}.head1{
		width:20%;
		height:150px;
		background-color:black;
		float:left;
		display:inline-block;
		
		
		}
		.head2{
		width:80%;
		height:150px;
		color:black;
		background-color:yellow;
		display:inline-block;
		
		
		}
		
		.foot1{
		width:20%;
		height:65px;
		background-color:brown;
		color:white;
		float:left;
		display:inline-block;
		
		
		}
		.foot2{
		width:50%;
		height:65px;
		color:white;
		background-color:green;
		display:inline-block;
		
		
		}
		.foot3{
		width:30%;
		height:65px;
		color:white;
		background-color:pink;
		float:right;
		display:inline-block;
		
		
		}
		.koala{
			width:100%;
			height:100%;
		}
	
		
		