header{height: 150px;
		background-color: red;
		color: white}
		h1 {
    color: orange;
    text-align: center;
         }

		
		main{height: 450px;
		background-color: green;
		color: white}
		
		footer{height: 65px;
		background-color: blue;
		color: white}
		
		
		.part1{
		height:200px;
		background-color:black;
		
		
		}
		.part2{
		height:600px;
		color:black;
		background-color:pink;
		
		
		}
	
		
		