        .head{height: 20px;
		background-color: white;
		color: black}
		main{
		height:550px;
		}
		
		.m1{
		margin:80px auto;
		height:450px;
		width:335px;
		text-align:center;
		}
		.m2{
		margin:50px auto;
		height:20px;
		width:335px;
		}
		
		.d1{
		width:50%;
		height:20px;
		margin:auto;
		}
		.d2{
		
		width:100%;
		}
		
		.footer{height: 65px;
		background-color: white;
		color: black;
		}
		 .foot1{float:left;
		display:inline-block;
		
		 }
		 
		 .foot2{float:right;
		 display:inline-block;
	
		
		 }
		 .text{
		 margin-bottom: 15px;}
		 .text1{
		 width:100%;}