        .head{height: 20px;
		background-color: white;
		color: black}
		
		.main{
		margin:20px auto;
		height:109px;
		width:335px;
		}
		
		.footer{height: 65px;
		background-color: white;
		color: black;
		}
		 .foot1{float:left;
		display:inline-block;
		
		 }
		 
		 .foot2{float:right;
		 display:inline-block;
	
		
		 }
		 .main1{
		    margin:200px;
			height:200px;
			width:100%;
		 }
		 .text{
		    margin:200px;
			width:100%;
		 }
		 