	nav{
		
		padding: 20px 20px;
		width:80%;
		height:50px;
		background-color:white;
		color:black;
		}
		

    .home{
	list-style-type:none;
	position:relative;
	
	}
	
	.home li{
		padding: 20px 45px;
		background:crimson;
		color:wheat;
		display: inline-block;
		
	}
	.menu{
		display:none !important;
		position:absolute;
		top:61px;
		left:141;
		}
	.menu li{
		display:block;
		}
	.home li:hover .menu{
		display:block !important;
	
		}
		
		.starters{
		top:1px;
		left:128px;
		display:none !important;
		position:absolute;
	
		}
	.starters li{
		display:block;
		}
	.menu li:hover .starters{
		display:block !important;
		}
		
		.chinese{
		top:8px;
		left:144px;
		display:none !important;
		position:absolute;
		top;10px;
		}
	.chinese li{
		display:block;
		}
	.starters li:hover .chinese{
		display:block !important;
		}
		.chd{
		display:none !important;
		position:absolute;
		top;7px;
		left:142px;
		}
	.chd li{
		display:block;
		}
	.chinese li:hover .chd{
		display:block !important;
		}
		.soup{
		bottom:14px;
		left:160px;
		display:none !important;
		position:absolute;
	
		}
	.soup li{
		display:block;
		}
	.chd li:hover .soup{
		display:block !important;
		}