.h1{
		height:100px;
		width:40%;
		background-color:green;
		float:left;
		display:inline-block;
		text-align: center;
		
	}

          
        

	.h2{
		height:100px;
		width:60%;
		background-color:yellow;
		display:inline-block;
		
	}.m1{
		height:400px;
		width:20%;
		background-color:blue;
		float:left;
		display:inline-block;
	
	}.m2{
		height:400px;
		width:50%;
		background-color:green;
		color:white;
		display:inline-block;
		text-align: center;
		
	}.m3{
		height:400px;
		width:30%;
		background-color:pink;
		float:right;
		display:inline-block;
		
	}.f1{
		height:100px;
		width:30%;
		background-color:black;
		float:left;
		display:inline-block;
		clear:both;
	}.f2{
		height:100px;
		width:70%;
		background-color:yellow;
		display:inline-block;
		
	}
	.koala{
			width:100%;
			height:100%;
		}
		.Desert{
			width:100%;
			height:100%;
		}
		.Chrysanthemum{
			width:100%;
			height:100%;
		}
		
		
		