
  ul{
	list-style-type:none;
	position:relative;
	margin:0px;
	padding:0px;
	}
	
	li{
		background: #0099ff;
		display: inline-block;
		padding: 11px 36px;
	}
	ul li ul{
		display:none;
		position:absolute;
		top: 41px;
		color:white;
	}
	ul li ul li{
		display:block;
		}
	
	ul li:hover ul{
			display:block;
			}
	nav{
		
		padding: 20px 20px;
		width:80%;
		height:50px;
		background-color:white;
		color:black;
		}
		
	ul li ul li ul {
			display:none !important;
		    position:absolute;
			top: 2px;
			left:137px;
			color:black;
	
			}
	ul li ul li ul li{
			display:block;
			}
	ul li ul li:hover ul{
			display:block !important;
			}
			
			
	drop{
		background-color:pink;
		color:blue;
		}