 ul{
	list-style-type:none;
	position:relative;
	margin:0px;
	padding:0px;
	}
	
	li{
		background-color: black;
		color:white;
		display: inline-block;
		padding: 11px 36px;
	}
	
	.container{
		border:1px solid;
		margin:auto;
		width:100%;
	}
	.logo{
		width:28%;
		display:inline-block;
		
	}
	.navbar{
		width:68%;
		float:right;
	}
	.banner{
		width:100%;
		height:300px;
	}
	.tabs{
		width:30%;
		display: inline-block;
    margin-top: 15px;
    text-align: center;
		padding:auto;
	}
	@media only screen and (max-width: 480px){
		.tabs{
			width:100%;
		
		}
		
		
	}
	
	