			.container{
            width:1080px;
			border:1px solid #ccc;
			display: block;
			margin: 15px auto;
			}
			.logo{
				width:200px;				
				float: left;
			}
			.head1{
				width:50%;
				float:left;
				display: inline-block;
			}
			.head2{
			
			    width: 50%;
				float: right;
                text-align: right;
			}
			header{
			    width: 96%;
				margin: 0px;
				display: table;
				padding: 2%;

			}
			.banner{
				clear:both;
				width:100%;
				
			}
			.d1{
				clear:both;
				width:50%;
				padding: 0px 20px;
				display:inline-block;
				float:left;
			}
			
			.d2{
				
				margin-top:80px;
				width:40%;
				float:right;
				display:inline-block;
				background-color:blue:
			}
			.foot{
				clear:both;
				width:100%;
				text-align:center;
			}