header{
	background-color:pink;
	
	height:200px;
	width:100%;
	clear:both;
}
.logo{
	width:20%;
	height:200px;
	display:inline-block;
	
}
	.logo img{
		border-radius: 50%;
		width:100%;
		height:100%;
	}

.navigation{
	height:200px;
	width:80%;
	float:right;
}
main{
	height:1000px;
	clear:both;
	margin:0px;
	padding:0px;
	
}
.dleft{
	background-color:red;
	height:100%;
	width:30%;
	display:inline-block;
	
}
.dright{
	height:100%;
	width:70%;
	float:right;
	
}
.s1{
	
	height:30%;
	width:100%;
	clear:both;
	display:inline-block;
	margin:0px;
	padding:0px;
}
.img1{
	width:33%;
	height:300px;
	display:inline-block;
	float:left;
	}
	.img1 img{
		 border-radius: 30px;
		height: 90%;
		width: 90%;
		padding:13px;
	}
.img2{
	width:34%;
	height:300px;
	display:inline-block;
	float:left;
	}
	.img2 img{
		 border-radius: 30px;
		height: 90%;
		width: 90%;
		padding:13px;
	}
	p{
	text-align:justify;
	}
.img3{
	width:33%;
	height:300px;
	clear:both;
	display:inline-block;
	}
	.img3 img{
		 border-radius: 30px;
		height: 90%;
		width: 90%;
		padding:13px;
	}
.s2{
	display:inline-block;
	margin:0px;
	padding:0px;
	background-color:pink;
	width:100%;
	height:35%;
	clear:both;
}
.s3{
	display:inline-block;
	margin:0px;
	padding:0px;
	background-color:blue;
	width:100%;
	height:35%;
}
.para{
	width:60%;
	
	float:left;
	}
.img4{
	width:40%;
	clear:both;
	display:inline-block;

	}
	.img4 img{
		width:100%;
		height:100%;
	}
	
	
	
	
	
	
	
a{
	text-decoration:none;
}	
	
	
	
  ul{
	list-style-type:none;
	position:relative;
	margin:0px;
	padding:0px;
	}
	
	li{
		background: white;
		display: inline-block;
		padding: 11px 36px;
	}
	ul li ul{
		display:none;
		position:absolute;
		top: 41px;
		color:black;
	}
	ul li ul li{
		display:block;
		}
	
	ul li:hover ul{
			display:block;
			}
	nav{
		
		padding: 20px 20px;
		width:80%;
		height:50px;
		background-color:none;
		color:black;
		}
		
	ul li ul li ul {
			display:none !important;
		    position:absolute;
			top: 2px;
			left:137px;
			color:black;
			margin-left:-18px;
	
			}
	ul li ul li ul li{
			display:block;
			}
	ul li ul li:hover ul{
			display:block !important;
			}
			
			
	drop{
		background-color:pink;
		color:blue;
		}