body {
    background-color: #580001;
    background-image: url("../images/top-rept.jpg");
    background-position: left top;
    background-repeat: repeat-x;
    color: #c8c8c8;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 37px 0 0;
}

.container{
	margin:0 auto;
	width:1000px;
}
.banner{
	width:1000px;
	height:240px;
	background-image: url(../image/banner.jpg);
	background-size:100%;
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
}
.banner h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 48px;
	line-height: 100%;
	color: #FFFFFF;
	margin-left: 391px;
	margin-top: 72px;
	}
.topmenu {
	width: 989px;
	height: 60px;
	float: left;
}
p{padding-bottom:10px;}
.topmenu ul {
	list-style-type: none;
}
.topmenu ul li {
	display: inline;
	border-right:1px solid;
	padding: 0px 30px;
	}
	
.topmenu ul li a {
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 30px;
	color: white;
	text-decoration: none;
}
.topmenu ul li a:hover {
	text-decoration: underline;
}
main{
	border-radius:10px;
	background-color: black;
	background-position: left top;
	width: 1000px;
	float: left;
	padding-top: 20px;
}
main-in {
	
	background-position: left bottom;
	width: 998px;
	float: left;
	padding:0 20px 20px 20px;
}
.leftpage{
	border-radius:10px;
	background-color:#646363;
	width:240px;
	float:left;
	padding:20px;
	clear:both;
	margin:7px;
}
.rightpage{
    background-color: #646363;
	border-radius:10px;
	width:640px;
	float:right;
	padding:20px;
	margin:7px;
}
.leftpage section{
	border-radius:10px;
	
}
.rightpage section{
	background-color: #646363;
	border-radius:10px;
}
.sec1{
	background-color:white;
}
.sec1 ol li{
	background-image: url("../image/index.png");
    background-position: 7px center;
    background-repeat: no-repeat;
	border-bottom: 1px solid #cbcccc;
    color: #000000;
    display: block;
    font-family: "Times New Roman",Times,serif;
    font-size: 14px;
    height: 29px;
    line-height: 29px;
    padding-left: 35px;
    text-align: left;
    text-decoration: none;
    }
.sec2{
	background-color: #f1f1f1;
    clear: both;
    padding-bottom: 24px;
	}
	.sec1 h2{
	background-color:gray;
    color: #f1f1f1;
    font-family: "Times New Roman",Times,serif;
    font-size: 24px;
    height: 48px;
    line-height: 48px;
    padding-left: 17px;
		
	}.sec2 h2{
	background-color:gray;
    color: #f1f1f1;
    font-family: "Times New Roman",Times,serif;
    font-size: 24px;
    height: 48px;
    line-height: 48px;
    padding-left: 17px;
		
	}
	.sec1 ol{padding-bottom:10px;
			padding-left: 18px;
			padding-right: 18px;
			}
	.sec2 h2{
		padding:10px;
	}
	.sec2 ol li{
	background-image: url("../image/index.png");
    background-position: left 24px;
    background-repeat: no-repeat;
    color: #000000;
    padding-left: 17px;
    padding-top: 20px;
	padding-right:17px;
	list-style:none;
	}
	.sec3{
	padding-left:10px;
	
	}
	.sec4{
	
	}
	p{text-align:justify;}
.gap{
	width:100%;
	height:10px;
	background-color:white;
}

.d1{width:47%;
	float:left;
	clear:both;
	display:inline-block;
	border-radius:10px;
	padding-left:10px;
	
}
.d2{margin-left:12px;
	width:48%;
	float:left;
	border-radius:10px;
	padding-left:10px;
	
	
}